.side-list{
    border-radius: 12px;
    padding: 0;
    padding-top: 32px;
    margin-right: 20px;
}

.side-list .side-list-title{
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 40px;
}

.side-list .side-list-menu{
    padding-top: 16px;
}

.side-list .side-list-menu li{
    width: 100%;
    margin: 0;
}

.side-list .side-list-menu li .side-list-item{
    text-align: left;
    padding: 14px 0 14px 40px;
    margin: 0;
    background: #ffffff;
    border: none;
    color: #444f5e;
    width: 100%;
}

.side-list-item span svg{
    width: 20px;
    height: 20px;
    fill: #444f5e;
    margin-right: 8px;
}

.side-list .side-list-menu li .active{
    background-color: rgba(68, 79, 94, 0.1);
}

@media screen and (max-width: 992px){
    .side-list-item{
        border-radius: 10px;
        padding: 14px 16px;
        background-color: rgba(68, 79, 94, 0.05);
        border: none;
        font-size: 15px;
        color: #444f5e;
    }

    button.active{
        background-color: #2abce7;
        color: #ffffff;
    } 

    button.active svg{
        fill: #ffffff;
    }
}

