body{
    background-image: url('../../images/background/background.jpg');
    background-repeat: no-repeat;
    background-size: 80% 100%;
    color: #ffffff;
    background-position: right center;
    margin: 0;
    background-color: rgba(0, 0, 0, 1);
    font-size: 17px;
}


.login-form{
    width: 300px;
    height: 400px;
    min-width: 300px;
    margin-left: 10%;
}

.login-form .input-group{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    display: block;
}

.login-form .input-group label.flow{
    position: absolute;
    bottom:0px;
    left: 0;
}

.login-form .input-group input[type='checkbox']{
    cursor: pointer;
}

.login-form .input-group a{
    width: 140px;
    display: block;
    color: white;
    float: right;
    text-align: right;
}

.login-form .input-group a:hover{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: underline;
}

.login-form .input-group input[type='text'], .login-form .input-group input[type='password']{
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
    height: 40px;
}

.login-form .input-group input[type='text']:focus ~ label,
.login-form .input-group input[type='password']:focus ~ label{
    transform: translateY(-25px);
    font-size: 12px;
    color: rgb(17, 175, 238);
    transition: .5s;
}

.login-form .input-group input[type='text']:focus ~ label::after,
.login-form .input-group input[type='password']:focus ~ label::after{
    content: '*';
}

.login-form .input-group input[type='text']:valid ~ label,
.login-form .input-group input[type='password']:valid ~ label{
    transform: translateY(-25px);
    font-size: 12px;
    color: rgb(17, 175, 238);
    transition: .5s;
}



@media screen and (max-width: 1000px){
    body{
        background-size: 100% 100%;
    }
}

@media screen and (max-width: 786px){
    body{
        background-image: none;
    }

    .login-form{
        margin: auto;
    }
}


