.title{
    font-size: 24px;
    font-weight: bold;  
    color: #444f5e; 
}
.detail{
    font-size: 14px;
    color: #444f5e;
    transition: all 0.4s;
}
.detail:hover{
    opacity: 0.5;
    color: #444f5e;
}
.detail-mb{
    font-size: 14px;
    color: #2abce7;
    background-color: rgba(42,188,231,.1);
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    transition: all 0.4s;
}
.detail-mb i{
    margin-left: 5px;
}
.box-time{
    position: relative;
    z-index: 1;
    padding-left: 20px;
    display: inline-block;
    margin-right: 15px;
}
.box-time:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background: #B9E6F3;
    z-index: -1;
    border-radius: 50%;
}
/* ----- ----- ----- */
.tag-list ul>li{
    display: inline-block;
    margin-right: 10px;
}
.tag-list ul>li>a{
    padding: 10px;
    background: #EDEEEF;
    color: #444f5e;
    border-radius: 10px;
    font-weight: 600;
    opacity: 0.7;
}
.tag-list ul{
    position: relative;
    margin-bottom: 0;
}
.tag-list ul>li:last-child{
    position: absolute;
    right: 0;
    margin-right: 0!important;
}
.tag-list ul>li:last-child a{
    color: #2abce7;
    background-color: rgba(42,188,231,0.1);
}
.tag-list ul>li:last-child svg{
    transform: translateY(-2px);
}